body {
    padding: 20px;
    font-family: Calibri;
    background-color: #2E2E2E;
    color: white;
}

svg {
  width: 100%;
  height: 100%;
}

svg > text {
    fill: white;
}

.grid {
    width: 90%;
    height: 600px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.grid > div {
    background-color: #2E2E2E;
    margin: 5px;
    position: absolute;
    opacity:1;
}

.grid_start {
    align: center;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #565656;
    margin: 10px 0px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.big_tile {
    width: 400px;
    height: 400px;  
}

.small_tile {
    width: 100px;
    height: 100px;
    margin: 25px;
}

#graphical-index > div {
    opacity:1;
}

td {
    text-align: left;
}

a {
    color: white;
}